
<div class="row">
  <div class="col s6">
    <h4>Nuevo Proyecto</h4>
    <form (ngSubmit)="nuevoPoryecto(newProyectForm.value)" [formGroup]="newProyectForm">
      <div class="row">
          <div class="input-field col s12">
              <input placeholder="Nombre del proyecto" formControlName="name" type="text" class="validate">
              <label for="name">Nombre</label>
            </div>

            <div class="input-field col s12">
              <input placeholder="Fecha de inicio del proyecto" formControlName="start_date" type="text" class="validate">
              <label for="start_date">Fecha de inicio</label>
            </div>

            <div class="input-field col s12">
              <input placeholder="Fecha de finalización del proyecto" formControlName="end_date" type="text" class="validate">
              <label for="end_date">Fecha de finalización</label>
            </div>

            <div class="input-field col s12">
              <textarea placeholder="Ingrese una descripción para el proyecto" formControlName="description" class="materialize-textarea"></textarea>
              <label for="descripcion">Descripción</label>
            </div>

            <button class="btn waves-effect waves-light" type="submit">Crear
              <i class="material-icons right">send</i>
            </button>
      </div>
    </form>
  </div>
</div>
